.label-lila {
    color: rgb(102, 102, 223);
}

.label-cielo{
    color: rgb(19, 141, 234)
}

.label-verde{
    color: rgb(8, 166, 5)
}
.boton-cielo {
    background-color: rgb(19, 141, 234);
    color: white;
}

.margin-bottom {
    margin-bottom: 12px;
  }
  
.my-custom-button {
    background-color: rgb(119, 2, 2);
    color: #fff;
    border-radius: 6px;
}

.custom-file-upload button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
