.label-lila {
    color: rgb(102, 102, 223);
}

.label-cielo{
    color: rgb(19, 141, 234)
}

.label-verde{
    color: rgb(8, 166, 5)
}
.boton-cielo {
    background-color: rgb(19, 141, 234);
    color: white;
}

.margin-bottom {
    margin-bottom: 12px;
  }
  
  